{% extends "base.html" %} {% block title %}Report Result{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Report your match here</h3>
    <h4 align="center">Enter results separately for each set played</h4>
  <div class="form-group">
    <label for="opponent">Opponent</label>
    <select class="form-control" id="opponent" name="opponent" required>
      <option value="" disabled selected>Select an opponent</option>
      {% if users %}
        {% for user in users %}
          <option value="{{ user.id }}">
            {{ user.name }}
          </option>
        {% endfor %}
      {% else %}
        <option value="" disabled>No opponents available</option>
      {% endif %}
    </select>
  </div>
  <div class="form-group">
    <label for="your_score">Your Score</label>
    <input
      type=number
      class="form-control"
      id="your_score"
      name="your_score"
      placeholder="E.g. 11"
    />
  </div>
    <div class="form-group">
    <label for="oscore">Opponent's Score</label>
    <input
      type=number
      class="form-control"
      id="oscore"
      name="oscore"
      placeholder="E.g. 0"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
